---
import DefaultLayout from "../layouts/defaultLayout.astro";
---

<DefaultLayout title="Impressum - Lucca Rabenstein">
    <div class="wrapper">
        <article class="info">
        <h2><a id="imprint">Impressum</a></h2> 
        <hr class="divider">
        <br />
        <p class="imprint">Allgemeiner Hinweis und Pflichtinformationen<br />
            <br/>
            Die verantwortliche Stelle f&#252;r die Datenverarbeitung auf dieser Website ist: <br />
            Lucca Rabenstein<br />
            Viktor-von-Scheffel-Stra&szlig;e 75<br />
            86853 Langerringen<br />
            <br />
            Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen &#252;ber die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, Kontaktdaten o. &auml;.). Widerruf Ihrer Einwilligung zur Datenverarbeitung Nur mit Ihrer ausdr&#252;cklichen Einwilligung sind einige Vorg&auml;nge der Datenverarbeitung m&ouml;glich. Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit m&ouml;glich. F&#252;r den Widerruf gen&#252;gt eine formlose Mitteilung per E-Mail. Die Rechtm&auml;&szlig;igkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unber&#252;hrt.<br/>
            <br />
            YouTube<br />
            F&#252;r Integration und Darstellung von Videoinhalten nutzt unsere Website Plugins von YouTube. Anbieter des Videoportals ist die YouTube, LLC, 901 Cherry Ave., San Bruno, CA 94066, USA.<br />
            Bei Aufruf einer Seite mit integriertem YouTube-Plugin wird eine Verbindung zu den Servern von YouTube hergestellt. YouTube erf&auml;hrt hierdurch, welche unserer Seiten Sie aufgerufen haben.<br />
            YouTube kann Ihr Surfverhalten direkt Ihrem pers&ouml;nlichen Profil zuzuordnen, sollten Sie in Ihrem YouTube Konto eingeloggt sein. Durch vorheriges Ausloggen haben Sie die M&ouml;glichkeit, dies zu unterbinden.<br />
            Die Nutzung von YouTube erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.<br />
            Einzelheiten zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerkl&auml;rung von YouTube unter: https://www.google.de/intl/de/policies/privacy.<br />
            <br />
            Vimeo<br />
            F&#252;r Integration und Darstellung von Videoinhalten nutzt unsere Website Plugins von Vimeo. Anbieter des Videoportals ist die Vimeo Inc., 555 West 18th Street, New York, New York 10011, USA.<br />
            Bei Aufruf einer Seite mit integriertem Vimeo-Plugin wird eine Verbindung zu den Servern von Vimeo hergestellt. Vimeo erf&auml;hrt hierdurch, welche unserer Seiten Sie aufgerufen haben. Vimeo erf&auml;hrt Ihre IP-Adresse, selbst wenn Sie nicht beim Videoportal eingeloggt sind oder dort kein Konto besitzen. Es erfolgt eine &#252;bermittlung der von Vimeo erfassten Informationen an Server des Videoportals in den USA.<br />
            Vimeo kann Ihr Surfverhalten direkt Ihrem pers&ouml;nlichen Profil zuordnen. Durch vorheriges Ausloggen haben Sie die M&ouml;glichkeit, dies zu unterbinden.<br />
            Einzelheiten zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerkl&auml;rung von Vimeo unter: https://vimeo.com/privacy.<br />
            <br />
            Cookies<br />
            Unsere Website verwendet keinerlei Cookies.<br />
            <br />
            Quelle: Datenschutz-Konfigurator von mein-datenschutzbeauftragter.de<br />
            <br/></p>
            <p><a href="/">Home</a></p>
        </article>
        </div>
        <br/>

</DefaultLayout>