---
import DefaultLayout from "../layouts/defaultLayout.astro";
import { Image } from "@astrojs/image/components";
---
<DefaultLayout title="Schauspielerin &ndash; Lucca Rabenstein">
<div class="wrapper">
    <Image src="/assets/main.jpg" sizes="((min-width: 269px) and (max-width: 667px))" class="page-img" width={269} height={444} aspectRatio="1:1" alt="Lucca Rabenstein" />
    <article class="info1">
     <h2><a id="home">Lucca Rabenstein</a></h2>
        <p>Neue M&#252;nchner Schauspielschule</p>
        <hr class="divider">
        <br/>
        <div class="mainMenu">
            <a href="#home">Home</a><br/>
            <br/>
            <a href="#news">Aktuelles</a><br/>
            <br/>
            <a href="#gallery">Galerie</a><br/>
            <br/>
            <a href="#vita">Vita</a><br/>
            <br/>
            <a href="#set-card">Set Card</a><br/>
        </div>
        <br />
    </article>
</div>
<div class="wrapper">
    <article class="info">
        <h2><a id="news">Aktuelles</a></h2> 
        <hr class="divider">
        <br />
        <p>April 2023 &ndash; Juli 2023</p>
        <p>Proben zum Abschlussst&uuml;ck "Krankheit der Jugend"<br /> von Ferdinand Bruckner</p>
        <small>2023 &#124; Regie: Matthias Christian Rehrl &ndash; Rolle: Irene Neue M&uuml;nchener Schauspielschule Premiere am 15. Juli 2023</small>
        <br/>
        <br/>
        <p>Spielzeit 22/23</p>
        <p><a href="https://www.landestheater-niederbayern.de/events/364" target="_blank">Michel in der Suppensch&uuml;ssel (Astrid Lindgren)</a></p>
        <p>2022 I Regie: Claus Tröger &ndash; Rolle:  Klein-Ida &ndash; Landestheater Niederbayern</p>
    </article>
</div>
<div class="wrapper">
<article class="info">
    <h2><a id="gallery">Galerie</a></h2> 
    <hr class="divider">
    <br />
    <div class="gallery-img">
        <a href="assets/index-5_1.jpg"><Image src="/assets/index-5_1.jpg" sizes="((min-width: 269px) and (max-width: 543px))" width={362} height={543} aspectRatio="1:1" alt="Lucca Rabenstein" /></a>
        <a href="assets/index-5_2.jpg"><Image src="/assets/index-5_2.jpg" sizes="((min-width: 269px) and (max-width: 543px))" width={362} height={543} aspectRatio="1:1" alt="Lucca Rabenstein" /></a>
        <a href="assets/index-5_3.jpg"><Image src="/assets/index-5_3.jpg" sizes="((min-width: 269px) and (max-width: 543px))" width={362} height={543} aspectRatio="1:1" alt="Lucca Rabenstein" /></a>
        <a href="assets/index-6_1.jpg"><Image src="/assets/index-6_1.jpg" sizes="((min-width: 269px) and (max-width:268px))" width={362} height={543} aspectRatio="1:1" alt="Lucca Rabenstein" /></a>
        <a href="assets/index-6_2.jpg"><Image src="/assets/index-6_2.jpg" sizes="((min-width: 269px) and (max-width:268px))" width={362} height={543} aspectRatio="1:1" alt="Lucca Rabenstein" /></a>
        <a href="assets/index-6_3.jpg"><Image src="/assets/index-6_3.jpg" sizes="((min-width: 269px) and (max-width:268px))" width={362} height={543} aspectRatio="1:1" alt="Lucca Rabenstein" /></a>
        <a href="assets/index-6_4.jpg"><Image src="/assets/index-6_4.jpg" sizes="((min-width: 269px) and (max-width:268px))" width={362} height={543} aspectRatio="1:1" alt="Lucca Rabenstein" /></a>
        <a href="assets/index-7_1.jpg"><Image src="/assets/index-7_1.jpg" sizes="((min-width: 269px) and (max-width: 543px))" width={362} height={543} aspectRatio="1:1" alt="Lucca Rabenstein" /></a>
        <a href="assets/index-7_2.jpg"><Image src="/assets/index-7_2.jpg" sizes="((min-width: 269px) and (max-width: 543px))" width={362} height={543} aspectRatio="1:1" alt="Lucca Rabenstein" /></a>
        <a href="assets/index-7_3.jpg"><Image src="/assets/index-7_3.jpg" sizes="((min-width: 269px) and (max-width: 543px))" width={362} height={543} aspectRatio="1:1" alt="Lucca Rabenstein" /></a>
    </div>
</article>
</div>
<div class="wrapper">  
    <article class="info">
        <h2><a id="set-card">Set Card</a></h2> 
        <hr class="divider">
        <br/> 
        <Image src="/assets/sr.jpg" class="page-img" sizes="((min-width: 296px) and (max-width: 667px))" width={362} height={377} aspectRatio="1:1" alt="Lucca Rabenstein" /> 
        <p>&nbsp;<b>Gr&ouml;ße:</b> 156 cm</p>
        <p>&nbsp;<b>Statur:</b> schlank</p>
        <p>&nbsp;<b>Ethnisches Aussehen:</b> keltisch, mitteleurop&ouml;isch</p>
        <p>&nbsp;<b>Spielalter:19 &ndash; 29 Jahre</b></p> 
        <p>&nbsp;<b>Staatsangeh&ouml;rigkeit:</b> deutsch</p>  
        <p>&nbsp;<b>Wohnm&ouml;glichkeiten:</b> M&uuml;nchen, Augsburg, Berlin, Hamburg</p> 
        <p>&nbsp;<b>F&uuml;hrerschein:</b> B</p>
        <p>&nbsp;<b>Stimmlage:</b> Mezzosopran</p>
        <p>&nbsp;<b>Besondere F&auml;higkeiten:</b> Ballett</p>  
        <p>&nbsp;<b>Sprachen:</b> Deutsch (Muttersprache), Englisch (gut), Franz&ouml;sisch (Grundkenntnisse), Russisch (Grundkenntnisse)</p> 
        <br />
    </article>
</div>
<div class="wrapper">
    <article class="info">
        <h2><a id="vita">Vita</a></h2> 
        <hr class="divider">
        <br />
        <h3>TV/Film</h3>
        <p>Hubert ohne Staller &ndash; ARD </p>
        <p>Nebenrolle: Die Joggerin &ndash; 2021</p>
        <br />
        <h3>Theater</h3>
        <p>Michel in der Suppensch&uuml;ssel (Astrid Lindgren)</p>
        <p>2022 &ndash; 2023 &#124; Regie: Claus Tr&ouml;ger<br/>Rolle: Klein Ida<br/>Landestheater Niederbayern</p><br/>
        <p>Nach dem Regen (Sergie Belbel)</p>
        <p>2022 &#124; Regie: Mattias Christian Rehrl<br />Rolle: die rothaarige Sekret&auml;rin <br />Mfa Werkstattb&uuml;hne</p>
        <br/>
        <h3>Ausbildung</h3>
        <p>Neue M&uuml;nchener Schauspielschule</p>
        <p>2020 &ndash; 2023</p>
        <br />
        <h3>Abitur</h3>
        <p>2017 &#124; Leonhard-Wagner-Gymnasium, Schwabm&uuml;nchen<br/>
            Leistungskurse: Schauspiel, Balett</p>
        <br />
        <h3>*25. Mai 1999</h3>
        <p>Schwabm&uuml;nchen</p>
    </article>
</div>
<br/>
</DefaultLayout>