---
const platform = "instagram";
const username = "llucca_rabenst_";
let year = new Date().getFullYear().toString();
---

<footer>    
    <nobr><p class="legal">&copy; {`${year} Lucca Rabenstein`} - <a href="/imprint">Impressum</a></p>
    <nobr></nobr><p class="contact"><a href="https://instagram.com/llucca_rabenst_" target="_blank"><img src="https://lucca-rabenstein.de/assets/instagram.svg" alt="llucca_rabenst_ on instagram"></a> <a href="mailto:lucca.rabenstein@web.de"><img src="https://lucca-rabenstein.de/assets/envelope.svg" alt="Schreib mir eine Email"></a></p></nobr>
</footer>