@font-face {
    font-family: 'DMSans';
    src: url('/fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: "Arsenica";
  src: url('/fonts/ArsenicaTrialRegular.woff') format('woff');
  font-display: swap;
}
@keyframes scroll {
  95% { top: -100%; }
  100% { top:0; }
}

html {
    background-color: #f6f4f1;
    font-family: 'DMSans', sans-serif;
    font-size: 12pt;
}

a {
    font-family: "Arsenica", sans-serif;
    color: #000000;

} 

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}
.banner {
    display: none;
}

.info {
    width: 100%;
    padding: 30px 5px 0px;
}

.info h2 {
    font-family: "Arsenica", sans-serif;
    font-size: 25pt;
}

.info h3 {
    font-size: 18pt;
}

.info p {
    font-size:12pt;
    color: #737373;
}

.info small {
    font-size: 10pt;
    color: #737373;
}

.divider {
    width: 90%;
}
.mainMenu{
    font-family: "Arsenica", sans-serif;;
    font-size: 14pt;
}

.gallery-img{
    max-width: 100%;
}
.page-img{
    max-width: 100%;
}
.imprint {
    font-family: 'DMSans';
    font-size: 8pt;
    max-width: 75%;
}
.contact{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
}

.legal {
    font-family: 'DMSans';
    font-size: 10pt;
    position: fixed;
    bottom: 0;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
  }
    

@media only screen and (min-width: 786px){
    .wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
    .info {
        padding: 20px 0px 0px;
    }
    
}

@media only screen and (min-width: 1000px){
    .wrapper {
        margin: 0 auto;
        width: 100%;
    }
    .info1 {
        display: inline-block;
        vertical-align: top;
        width: 49%;
    }
    .page-img{
        float: left;
        width: 49%;

    }
    .info {
        float: left;
        max-width: 100%;
    }
    
    .gallery-img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8);
        grid-gap: 15px;
    }

}